html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
	font-family: 'Roboto', sans-serif;
	background: url('http://i.imgur.com/ovCA9dH.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	margin: 0px;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
	border: none;	
}

.alert {
	display: none;
}

#home {
	padding: 200px 0px;
	
}

.down-arrow {
	font-size: 45px;
	margin-top: 200px;
}
.a-tag-down-arrow {
	color: black;
}

#about {
	background-color: #FFD6CF;
	padding: 0px 0px 200px 0px;
}

#about li {
	font-size: 20px;
}

.bottom {
	height: 50px;
	background-color: #333;
	color: #fff;
}

.page-header {
	border: none;
	padding: 10px;
	word-wrap: break-word;
}

#new-request-input {
	background-color: rgba(244, 252, 242, 1);
}
#new-request-submit {
	margin: 10px 0px;
}

.well {
	background-color: rgba(244, 252, 242, 1);
	min-height: 200px;
	font-size: 20px;
	box-shadow: 2px 2px 1px black;
	padding-bottom: 10px;
}

.done {
	background-color: rgba(244, 252, 242, .5);
}

.close {
	position: relative;
}

/*iphone 6 plus*/
@media (max-width: 415px) {
	#home {
		padding: 100px 0px;
	}
	#home h3 {
		font-size: 25px;
		padding-bottom: 100px;
	}
	.welcome-info {
		padding: 20px;
	}
	.down-arrow {
		margin-top: 100px;
	}
	#about {
		padding: 40px;
	}
	#about h3 {
		font-size: 25px;
	}
	#about li {
		font-size: 18px;
	}
	.page-header h2 {
		font-size: 35px;
	}
	.page-header h4 {
		font-size: 18px
	}
	.page-header h5 {
		font-size: 16px;
	}
}

/*iphone 6*/
@media (max-width: 375px) {
	.down-arrow {
		margin-top: 0px;
	}
}

/*iphone 5*/
@media (max-width: 325px) {
	#home h1 {
		font-size: 30px;
	}
	#home h3 {
		font-size: 20px;
		padding-bottom: 50px;
	}
	.down-arrow {
		margin-top: 50px;
	}
	#about {
		padding: 50px 10px 10px 10px;
	}
	#about h3 {
		font-size: 20px;
	}
	#about li {
		font-size: 15px;
	}
	.page-header h2 {
		font-size: 30px;
	}
}

